.gitattributes text eol=lf
README.md text eol=lf
*.sh text eol=lf
.github/workflows/*.yml text eol=lf
configs/*.config text eol=lf
files/etc/uci-defaults/** text eol=lf
files/etc/config/** text eol=lf
files/usr/sbin/** text eol=lf
files-daede/etc/uci-defaults/** text eol=lf
files-homeproxy/etc/uci-defaults/** text eol=lf
files-ultimate/etc/uci-defaults/** text eol=lf
scripts/** text eol=lf
